<!DOCTYPE html>
<html>
  <head>
    <title>Donation App</title>
  </head>
  <body>
    <h1>Welcome to the Donation App</h1>
    <p>Please <a href="/login">log in</a> or <a href="/register">register</a> to get started.</p>
  </body>
</html>